.App {
  text-align: center;
}

.wiat-app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-area {
  display: flex;
  justify-content: space-around;
  width: 90%;
}

.screen-side {
  width: 45%;
}

.quote-wrapper {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  .main-area {
    flex-direction: column;
  }
  .screen-side {
    width: 100%;
  }
}

